* {
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
}

.perro {
  max-height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perro__imagen {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

button {
  height: 50px; 
  width: 100px; 
  background-color: azure;
  border-radius: 15px;
  border: 2px solid black;
  margin: 20px;
}

.imagen {
  width: 500px;
  height: 500px;
  object-fit: cover;
}